[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=vasak-browser
StartupNotify=true
Terminal=false
Categories=Network;WebBrowser;
Name=Browser
Name[ar]=متصفّح وِب
Name[be]=Вэб-браўзер
Name[be@tarask]=Гартач сеціва
Name[bg]=  Уеб четец
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador
Name[cs]=Webový prohlížeč
Name[da]=browser
Name[de]=Internetnavigator
Name[el]=Περιηγητής διαδικτύου
Name[en_AU]=Browser
Name[en_CA]=Browser
Name[en_GB]=Browser
Name[es]=Navegador
Name[et]=Veebisirvija
Name[eu]=nabigatzailea
Name[fi]=Verkkoselain
Name[fr]=Navigateur
Name[gl]=Navegador
Name[he]=דפדפן רשת
Name[hr]=preglednik
Name[hu]=Webböngésző
Name[hy_AM]=Ցանցային զննարկիչ
Name[hye]=Ցանցային զննարկիչ
Name[id]=Peramban
Name[ie]=Navigator
Name[is]=Netvafri
Name[it]=Browser
Name[ja]=ウェブブラウザー
Name[kk]=Веб браузері
Name[ko]=웹 브라우저
Name[lt]=Saityno naršyklė
Name[ms]=Pelayar Sesawang
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[oc]=Navigador
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador
Name[pt_BR]=Navegador
Name[ro]=Navigator
Name[ru]=Веб-браузер
Name[sk]=Internetový prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletues
Name[sr]=Прегледник мреже
Name[sv]=Webbläsare
Name[th]=โปรแกรมท่องเว็บ
Name[tr]=İnternet Tarayıcısı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач
Name[zh_CN]=网络浏览器
Name[zh_HK]=瀏覽網頁
Name[zh_TW]=網路瀏覽器
Comment=Browse the
Comment[ar]=تصفح الوِب
Comment[be]=Праглядзець у сеціве
Comment[be@tarask]=Праглядайце сеціва
Comment[bg]=Сърфиране в  мрежата
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu pel
Comment[cs]=Procházet
Comment[da]=Gennemsebet
Comment[de]=Das Internet durchsuchen
Comment[el]=Περιηγηθείτε στον ιστό
Comment[en_AU]=Browse the
Comment[en_CA]=Browse the
Comment[en_GB]=Browse the
Comment[es]=Navegue por la
Comment[et]=Sirvi veebi
Comment[eu]=Nabigatu-a
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Naviguer sur le
Comment[gl]=Navegar pola
Comment[he]=סייר ברשת
Comment[hr]=Pregledaj
Comment[hu]=Webböngészés
Comment[hy_AM]=Որոնել ցանցում
Comment[hye]=Որոնել ցանցում
Comment[id]=Ramban
Comment[ie]=Navigar li
Comment[is]=Flakka á vefnum
Comment[it]=Esplora la rete
Comment[ja]=ウェブを閲覧します
Comment[kab]=Inig deg
Comment[kk]=Интернетті шолу
Comment[ko]=웹 탐색
Comment[lt]=Naršyti internete
Comment[ms]=Layar sesawang
Comment[nb]=Surfe på nettet
Comment[nl]=Verken het
Comment[nn]=Surf på nettet
Comment[oc]=Navigar sus internet
Comment[pl]=Przegląda zawartość sieci internetowej
Comment[pt]=Navegar na
Comment[pt_BR]=Navegar pela
Comment[ro]=Navigați pe net
Comment[ru]=Смотреть в Интернете
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Shfletoni në
Comment[sr]=Прегледајте веб
Comment[sv]=Surfa påben
Comment[th]=ท่องดูเว็บ
Comment[tr]=Web'de gezin
Comment[ug]=تور كۆرىدۇ
Comment[uk]=Мандруйте Інтернетом
Comment[zh_CN]=浏览网络
Comment[zh_HK]=瀏覽網頁
Comment[zh_TW]=瀏覽網路
